.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--sand);
  color: var(--jet-black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-links {
  display: flex;
  color: var(--dark-slate-grey);
  list-style: none;
  gap: 2rem;
}

.navbar-links a {
  text-decoration: none;
  color: var(--jet-black);
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: var(--jet-black);
}
