@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  color: var(--jet-black);
}

:root {
  --jet-black: #253031;
  --dark-slate-grey: #315659;
  --cerulean: #216282;
  --sand: #B4A16A;
  --pale-sky: #C6E0FF;
}