*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--jet-black);
}

:root {
  --jet-black: #253031;
  --dark-slate-grey: #315659;
  --cerulean: #216282;
  --sand: #B4A16A;
  --pale-sky: #C6E0FF;
}